*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightcoral;
    text-align: center;
}

.container{
    width: 80%;
    height: 400px;
    background: lawngreen;
    margin: 20px auto;
    border: 3px solid black;
    overflow: hidden;
}

.caja{
    width: 50px;
    height: 50px;
    background: red;
    border: 2px solid black;
    margin: 10px;
}

.ejemplo1{
    display: flex;
    flex-direction: column;
}

.ejemplo2{
    display: flex;
    flex-direction: column-reverse;
}

.ejemplo3{
    display: flex;
    flex-direction: row;
}

.ejemplo4{
    display: flex;
    flex-direction: row-reverse;
}

.ejemplo5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ejemplo6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ejemplo7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.ejemplo8{
    display: flex;
    flex-flow: column wrap;
}

.ejemplo9{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    
}

.ejemplo10{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    
}

.ejemplo11{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    
}

.ejemplo12{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    
}

.ejemplo13{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    
}

.ejemplo14{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ejemplo15{
    display: flex;
    align-items: flex-start;
    
}

.ejemplo16{
    display: flex;
    align-items: flex-end;
    
}

.ejemplo17{
    display: flex;
    justify-content: center;
    align-items: stretch;
    
}

.ejemplo18{
    display: flex;
    align-items: baseline;
    
}

.caja2{
    width: 50px;
    background: red;
    border: 2px solid black;
    margin: 10px;
}