*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  

    font-family: 'Roboto', sans-serif;
    background: rgb(8, 29, 142);
    background: linear-gradient(90deg, rgba(8,29,142,1) 0%, rgba(48,196,126,1) 0%, rgba(22,216,244,1) 100%);
    
}

header{
    width: 100%;
    margin:20px auto;
    text-align: center;
    color: #fff;
    font-size: 25px;
}

img{

    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    background: #fff;
    border: 8px solid #fff;
    border-radius:100%;
    position: relative;
    top:0px;
    z-index: 1;
}

section{
    width: 400px;
    height: 550px;
    background: #fff;
    margin: auto;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    top:-60px;
    text-align: center;
    box-shadow: 5px 5px 20px lightseagreen;
}

input{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 30px;
    margin-top: 30px auto;
    border: 2px solid lightgray;
}

input:focus{
    box-shadow: 0 0 20px yellow;
}

input::placeholder{
    padding-left: 15px;
    font-size: 20px;
    opacity: 0.5;
}

button{
    width: 100px;
    height: 45px;
    margin: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    color: #fff;
    
}

button:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px gray;
}

.claro{
    color: lightseagreen;
    opacity: 0.5;
}


.mover{
    margin-top: 30px;
}

.btn-login{
    background: #d20000;
}

.btn-face{
    background: #0b43bd;
}

.btn-git{
    background: #000;
}